### IDEs ###
# IntelliJ / Android Studio
.idea/
*.iml

# Eclipse / Spring Tool Suite
.project
.classpath
.settings/
.metadata/
.sts4-cache/
.springBeans
.recommenders/

# VSCode
.vscode/

### Build e Dependências ###
# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log

# Maven Wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# Gradle (se eventualmente usar)
.gradle/
build/

### Arquivos Temporários ###
*.tmp
*.bak
*.old
*.swp
*.swo
*~

# Logs
logs/

# Arquivos de Crash do Java
hs_err_pid*
replay_pid*

# Arquivos de ambiente e configs locais
.env

### Sistema Operacional ###
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Linux
.nfs*

# Mac (caso use futuramente)
.DS_Store

### Plugins e Ferramentas ###
# SonarLint
.sonar/
sonarlint/
.idea/**/sonarlint/
.sonarlint/


# Outros
out/

# Arquivos de lock
package-lock.json
yarn.lock
